/* CSS Document */

@font-face {
	font-family: Exo-Light;
	src: url('exo-2/Exo2-Light.otf');
}

@font-face {
	font-family: Exo-Light;
	font-style: italic;
	src: url('exo-2/Exo2-LightItalic.otf');
}

@font-face {
	font-family: Exo-Medium;
	src: url('exo-2/Exo2-Medium.otf');
}

@font-face {
	font-family: CODE;
	src: url('CODE/CODE Light.otf');
}

@font-face {
	font-family: CODE;
	font-weight: bold;
	src: url('CODE/CODE Bold.otf');
}

@font-face {
	font-family: CODE;
	src: url('CODE/CODE Light.otf');
}

body {
	font-family: Exo-Light;
}

.navbar-brand, .display-4, .card-title {
	font-family: CODE;
	font-weight: bold;
}

.card-title {
	padding-top: 10px;
}

.lead {
	font-family: CODE;
	font-size: 30px;
}

.border-dark {
	border-radius: 0px;
}

.bg-dark {
	border-radius: 0px;
}

.jumbotron {
	width: 100%;
	border-radius: 0px;
	background-image: url('images/background.jpg');
}

h1, h2, h3, h4, h5, h6 {
	font-family: CODE;
	font-weight: bold;
}

.section {
	padding-top: 60px;
}

#navbar {
	background-color: rgba(0,98,252,0.5);
	transition: background-color 0.5s ease 0s;
}

#navbar.opaque {
	background-color: rgba(0,98,252,1);
	transition: background-color 0.5s ease 0s;
}

.card-text {
	vertical-align: middle;
}
