/* CSS Document */

@font-face {
	font-family: Exo-Light;
	src: url('exo-2/Exo2-Light.otf');
}

@font-face {
	font-family: Exo-Light;
	font-style: italic;
	src: url('exo-2/Exo2-LightItalic.otf');
}

@font-face {
	font-family: Exo-Medium;
	src: url('exo-2/Exo2-Medium.otf');
}

@font-face {
	font-family: CODE;
	src: url('CODE/CODE Light.otf');
}

@font-face {
	font-family: CODE;
	font-weight: bold;
	src: url('CODE/CODE Bold.otf');
}

@font-face {
	font-family: CODE;
	src: url('CODE/CODE Light.otf');
}

body {
	font-family: Exo-Light;
}

.navbar-brand, .display-4 {
	font-family: CODE;
	font-weight: bold;
}

.lead {
	font-family: CODE;
	font-size: 30px;
}

.border-dark {
	border-radius: 0px;
}

.bg-dark {
	border-radius: 0px;
}
